<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            All Articles belong to <a href="https://www.nytimes.com/">New York Times</a>. 
            <a href="/articles-json" class="grey-text text-lighten-4 right">Article JSON</a>
        </div>
    </div>
</footer>